*.pyc
secrets.py
results/
profiles/
consumables/reports.py
consumables/results.csv
consumables/Results_DA.csv
consumables/Results_DA.md
consumables/Results_LotV.csv
consumables/Results_LotV.md
CONTRIBUTING.md
enchants/enchants_DA.simc
enchants/enchants_LotV.simc
enchants/profiles.py
enchants/RaidSimming_HC.csv
enchants/RaidSimming_HC.md
enchants/README.md
enchants/reports.py
enchants/results.csv
enchants/Results_DA.csv
enchants/Results_DA.md
enchants/Results_LotV.csv
enchants/Results_LotV.md
gear/gear_combo_heroic.simc
gear/gear_combo_mythic.simc
gear/gear_combo_normal.simc
gear/Priest_Shadow_T22H.simc
gear/Priest_Shadow_T22M.simc
gear/Priest_Shadow_T22N.simc
gear/profiles.py
gear/README.md
gear/reports.py
gear/results.csv
azerite-traits/azerite_DA.simc
azerite-traits/azerite_LotV.simc
azerite-traits/profiles.py
azerite-traits/README.md
azerite-traits/reports.py
azerite-traits/results.csv
azerite-traits/Results_DA.csv
azerite-traits/Results_DA.md
azerite-traits/Results_LotV.csv
azerite-traits/Results_LotV.md
azerite-traits/spelldump.txt
racials/profiles.py
racials/racials_DA.simc
racials/racials_LotV.simc
racials/RaidSimming_HC.csv
racials/RaidSimming_HC.md
racials/README.md
racials/reports.py
racials/results.csv
racials/Results_DA.csv
racials/Results_DA.md
racials/Results_LotV.csv
racials/Results_LotV.md
stats/profiles.py
stats/RaidSimming_HC.csv
stats/RaidSimming_HC.md
stats/README.md
stats/reports.py
stats/results.csv
stats/stats.simc
stats/talents_DA_1.simc
stats/talents_DA_2.simc
stats/talents_LotV_1.simc
stats/talents_LotV_2.simc
stats/talents_STM_1.simc
stats/talents_STM_2.simc
talents/backup/ap_hm_ba_1.json
talents/backup/ap_hm_ba_2.json
talents/backup/ap_hm_na_1.json
talents/backup/ap_hm_na_2.json
talents/backup/ap_hm_sa_1.json
talents/backup/ap_hm_sa_2.json
talents/backup/ap_lm_ba_1.json
talents/backup/ap_lm_ba_2.json
talents/backup/ap_lm_na_1.json
talents/backup/ap_lm_na_2.json
talents/backup/ap_lm_sa_1.json
talents/backup/ap_lm_sa_2.json
talents/backup/ap_pw_ba_1.json
talents/backup/ap_pw_ba_2.json
talents/backup/ap_pw_na_1.json
talents/backup/ap_pw_na_2.json
talents/backup/ap_pw_sa_1.json
talents/backup/ap_pw_sa_2.json
talents/backup/toe_hm_ba_1.json
talents/backup/toe_hm_ba_2.json
talents/backup/toe_hm_na_1.json
talents/backup/toe_hm_na_2.json
talents/backup/toe_hm_sa_1.json
talents/backup/toe_hm_sa_2.json
talents/backup/toe_lm_ba_1.json
talents/backup/toe_lm_ba_2.json
talents/backup/toe_lm_na_1.json
talents/backup/toe_lm_na_2.json
talents/backup/toe_lm_sa_1.json
talents/backup/toe_lm_sa_2.json
talents/backup/toe_pw_ba_1.json
talents/backup/toe_pw_ba_2.json
talents/backup/toe_pw_na_1.json
talents/backup/toe_pw_na_2.json
talents/backup/toe_pw_sa_1.json
talents/backup/toe_pw_sa_2.json
talents/backup/viv_hm_ba_1.json
talents/backup/viv_hm_ba_2.json
talents/backup/viv_hm_na_1.json
talents/backup/viv_hm_na_2.json
talents/backup/viv_hm_sa_1.json
talents/backup/viv_hm_sa_2.json
talents/backup/viv_lm_ba_1.json
talents/backup/viv_lm_ba_2.json
talents/backup/viv_lm_na_1.json
talents/backup/viv_lm_na_2.json
talents/backup/viv_lm_sa_1.json
talents/backup/viv_lm_sa_2.json
talents/backup/viv_pw_ba_1.json
talents/backup/viv_pw_ba_2.json
talents/backup/viv_pw_na_1.json
talents/backup/viv_pw_na_2.json
talents/backup/viv_pw_sa_1.json
talents/backup/viv_pw_sa_2.json
trinkets/profiles.py
trinkets/RaidSimming_HC.csv
trinkets/RaidSimming_HC.md
trinkets/README.md
trinkets/reports.py
trinkets/results.csv
trinkets/Results_DA.csv
trinkets/Results_DA.md
trinkets/Results_LotV.csv
trinkets/Results_LotV.md
trinkets/trinkets_dungeons_DA.simc
trinkets/trinkets_dungeons_LotV.simc
trinkets/trinkets_other_DA.simc
trinkets/trinkets_other_LotV.simc
trinkets/trinkets_raid_DA.simc
trinkets/trinkets_raid_LotV.simc
consumables/consumables_DA.simc
consumables/consumables_LotV.simc
consumables/profiles.py
consumables/RaidSimming_HC.csv
consumables/RaidSimming_HC.md
consumables/README.md
apl/apl.simc
apl/default_apl.simc
apl/profiles.py
apl/README.md
apl/reports.py
apl/results.csv
